<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" href="/image/favicon.png" >

    <!-- Your app title -->
    <title>Find Man</title>
    <!-- Path to Framework7 iOS CSS theme styles-->
    <link rel="stylesheet" href="/framework7/css/framework7.ios.min.css">
    <!-- Path to Framework7 iOS related color styles -->
    <link rel="stylesheet" href="/framework7/css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="/css/my-app.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>

    <div class="panel panel-left panel-reveal">
        <div class="list-block">
          <div class="list-panel">
            <ul>
              <li class="item-content list-panel-all close-panel item-link">
                <a href="/" class="external">
                <div class="item-media"><img src="/image/icon-company.png" width="30"></div>
                <div class="item-inner">
                  <div class="item-title">Search</div>
                </div>
                </a>
              </li>
              <li class="item-content list-panel-favorites close-panel item-link">
                <a href="photos">
                  <div class="item-media"><img src="/image/icon-girl.png"  width="30"></div>
                  <div class="item-inner">
                    <div class="item-title">Photos</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
    </div>

    <!-- Views -->
    <div class="views">
      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main">
      	{% block body %}{% endblock %}
      </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="/js/my-app.js?time=1462188721"></script>
  </body>
</html>           

